<%- include('templates/header') -%>
        <div class="profileContainer">
            <nav class="navbar navbar-dark bg-dark justify-content-between">
              <a class="navbar-brand" href="/">
                  <img src="csumblogo.jpg" style ="float:left" width="50" height="50" class="d-inline-block align-top" alt="">
                  <h2 id="name">Thrifster</h2>
              </a>
              <form class="form-inline">
                <input id="searchBar" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" style="margin:5px;" type="submit"></strong>Search</strong></button>
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <form action ="/profile">
                        <button class="dropdown-item" type="submit">Profile</button>
                    </form>
                    <form action="/upload">
                        <button class="dropdown-item" type="submit">Upload</button>
                    </form>
                    <form action="/logout">
                        <button class="dropdown-item" type="submit">Log Out</button>
                    </form>
                  </div>
                </div>
              </form>
            </nav>
        </div>
        <h2 id="ProfileLabel">Profile Info</h2>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 ">
                    <div class="flex-container-profile">
                        <%data.forEach(function(d){%>
                            <div class="img-thumbnail flex-item-profile">
                                <img src='data:image/png;base64, <%=d.data%> ' style="height:25%">
                                <div class="col-sm-5 col-xs-6 tital" id="nameTag" >Name: <%=d.itemName%></div><div class="col-sm-7 col-xs-6 "></div>
                                <div class="col-sm-5 col-xs-6 tital" id="nameTag" >Description:<%=d.description%></div><div class="col-sm-7 col-xs-6 "></div>
                                <div class="col-sm-5 col-xs-6 tital" id="nameTag" >Cost: <%=d.cost%></div><div class="col-sm-7 col-xs-6 "></div>
                                <div style="text-align:center;" class="inline-block">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target='#exampleModal<%=d.orderID%>' >Edit Item Details</button>
                                    <button type="button" class="btn btn-danger">Remove Item</button>
                                </div>
                            </div>

                    </div>
                    
                </div>
            </div>     
        </div>
        
            <!-- Modal -->
            <div class="modal fade" id="exampleModal<%=d.orderID%>" class="modal" tabindex="-1" role="dialog" aria-labelledby="#exampleModalLabel<%=d.orderID%>" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel<%=d.orderID%>">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">  
                    <img src='data:image/png;base64, <%=d.data%> '>
                    <form action="/profileUpdated" method="POST">
                        <input class="roundedBorderInput" type="text" placeholder = "Item's new name..." name="itemName" value=<%= d.itemName %> required>  
                        <input class="roundedBorderInput" type="text" placeholder = "Item's new description..." name="description" value=<%= d.description %> required>
                        <input class="roundedBorderInput" type="text" placeholder = "Item's new cost..." name="cost" value=<%= d.cost %> required>
                        <input type="hidden" name="orderID" value=<%= d.orderID %>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Save Changes">
                    </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <%});%>
        
<%- include('templates/footer') -%>