<%- include('templates/header') -%>
        <div class="profileContainer">
            <nav class="navbar navbar-dark bg-dark justify-content-between">
              <a class="navbar-brand" href="/">
                  <img src="csumblogo.jpg" style ="float:left" width="50" height="50" class="d-inline-block align-top" alt="">
                  <h2 id="name">Thrifster</h2>
              </a>
              <form class="form-inline">
                <input id="searchBar" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" style="margin:5px;" type="submit"></strong>Search</strong></button>
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <form action ="/profile">
                        <button class="dropdown-item" type="submit">Profile</button>
                    </form>
                    <form action="/upload">
                        <button class="dropdown-item" type="submit">Upload</button>
                    </form>
                    <form action="/logout">
                        <button class="dropdown-item" type="submit">Log Out</button>
                    </form>
                  </div>
                </div>
              </form>
            </nav>
        </div>
        <h2 id="ProfileLabel">Profile Info</h2>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 ">
                    <%data.forEach(function(d){%>
                        <img src='data:image/png;base64, <%=d.data%> '/>
                    <div class="panel panel-default">
                        <div class="panel-body">
               
                            <div class="box box-info">
                                <div class="clearfix"></div>
                                <hr style="margin:5px 0 5px 0;">
                                
                                <div class="col-sm-5 col-xs-6 tital" id="nameTag" >Name: <%=d.itemName%></div><div class="col-sm-7 col-xs-6 "></div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                
                                <div class="col-sm-5 col-xs-6 tital" id="nameTag" >Description:<%=d.description%></div><div class="col-sm-7 col-xs-6 "></div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                
                                <div class="col-sm-5 col-xs-6 tital" id="nameTag" >Cost: <%=d.cost%></div><div class="col-sm-7 col-xs-6 "></div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                        
                            </div>
                        </div>
                    </div> 
                    <%});%>
                </div>
            </div>     
        </div>
<%- include('templates/footer') -%>