<%- include('templates/header') -%>
        <div class="profileContainer">
            <nav class="navbar navbar-dark bg-dark justify-content-between">
              <a class="navbar-brand" href="/">
                  <h2 id="name">Thrifster</h2>
              </a>
            <form action="/searchResults">
                <input name="searchedItem" id="searchBar" class="form-control mr-sm-2" type="text" placeholder="Search either by tags, date, and price!" aria-label="Search" required>
                <button class='btn btn-outline-success my-2 my-sm-0' style="margin:5px;"><strong>Search</strong></button>
              </form>
              <form class="form-inline">
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <form action="/profile">
                        <button class="dropdown-item" type="submit">Profile</button>
                    </form>
                    <form action="/logout">
                        <button class="dropdown-item" type="submit">Log Out</button>
                    </form>
                  </div>
                </div>
              </form>
            </nav>
        </div>
        
        <div class="jumbotron">
          <h4 style="text-align:center;">Items for sale!</h4>
          <div class="flex-container">
            <% results.forEach(function(t) { %> 
              <div class="img-thumbnail flex-item">
                <img  src='data:image/png;base64,<%=t.data%>'  >
                <h4>Seller: <%=t.username%></h4>
                <h4><%=t.itemName%></h4>
                <h4>Description: <%=t.description%></h4>
                <h4>Cost: <%=t.cost%></h4>
                <h5>Date Posted: <%=t.purchaseDate%></h5>
              </div>
            <% }) %>
              
          </div>  
        </div>
<%- include('templates/footer') -%>