<%- include('templates/header') -%>
    <div class="profileContainer">
            <nav class="navbar navbar-dark bg-dark justify-content-between">
              <a class="navbar-brand" href="/">
                  <img src="csumblogo.jpg" style ="float:left" width="50" height="50" class="d-inline-block align-top" alt="">
                  <h2 id="name">Thrifster</h2>
              </a>
                  <form action="/search" class="form-inline">
                    <input name="search" id="searchBar" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" style="margin:5px;" type="submit"></strong>Search</strong></button>
                  </form>
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <form action="/profile">
                        <button class="dropdown-item" type="submit">Profile</button>
                    </form>
                    <form action="/logout">
                        <button class="dropdown-item" type="submit">Log Out</button>
                    </form>
                  </div>
                </div>
            </nav>
            
            <!--CENTER this later-->
            <div class="jumbotron">
              <h4 style="text-align:center;">Search some local thrift stores or use search bar to search for items from other users!</h4>
              <div class="flex-container">
                <% thriftStores.forEach(function(t) { %> 
                  <div class="img-thumbnail flex-item">
                    <img src=<%=t.image_url %> >
                    <h4> <%= t.name%> </h4>
                    <h5> Phone Number: <%= t.phone %> </h5>
                    <h6> <%= t.location.address1 %>, <%= t.location.city %> <%= t.location.state %></h6>
                    <h4> Rating: <%= t.rating%>/5 </h4>
                    <a href=<%=t.url%>> Find more here! </a>
                  </div>
                <% }) %>
                  
              </div>  
            </div>
            

        </div>
        
<%- include('templates/footer') -%>